<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Configurations</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link href="/static/css/style.css" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="/static/image/favicon.ico">
    <style>
      .modal-body {
    max-width: 100%;
    overflow-x: auto;
}
.scoll-tree {
    width:620px;
    margin: auto;
}
    </style>

</head>

<body id="page-top" style="background-color: #222222;">
    <div>
        <nav class="navbar navbar-light navbar-expand-md bg-dark navigation-clean-button">
            <div class="container">
                <a href="dashboard">
                    <span class="navbar-brand" href="#" style="color: rgb(255,255,255);">
                        <img src="/static/image/egg-icon.svg" width="30" height="30" class="" alt="">
                        <span style="vertical-align: middle;">Incubator</span>
                    </span>
                </a>
                <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link  text-light" href="dashboard" style="color: rgb(255,255,255);">Dashboard</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="configurations" style="color: rgb(255,255,255);">Configurations</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="settings" style="color: rgb(255,255,255);">Settings</a></li>
                    </ul><span class="navbar-text actions"> <a class="btn btn-primary action-button" role="button" href="/logout" style="background-color: #00a3dd;">Logout</a></span></div>
    </div>
    </nav>
    </div>
    <div class="modal fade" id="addConfigurationModal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-white bg-dark border-dark">
                    <h4 class="modal-title">New Configuration</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>

                <form action="/configurations" method="POST">
                    <input type="hidden" name="action" value="Add">
                    <div class="modal-body bg-dark border-dark">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text">Name</span></div><input class="form-control" name="name" type="text" required>
                            <div class="input-group-append"></div>
                        </div>
                        <div class="input-group" style="margin-top: 10px;">
                            <div class="input-group-prepend"><span class="input-group-text">Species</span></div><input class="form-control" name="species" type="text" required>
                            <div class="input-group-append"></div>
                        </div>
                        <div class="input-group" style="margin-top: 10px;">
                            <div class="input-group-prepend"><span class="input-group-text">Temperature(<br><strong>°</strong>C)</span></div><input class="form-control" name="temperature" type="number" required>
                            <div class="input-group-append"></div>
                        </div>
                        <div class="input-group" style="margin-top: 10px;">
                            <div class="input-group-prepend"><span class="input-group-text">Humidity(%)</span></div><input class="form-control" name="humidity" type="number" required>
                            <div class="input-group-append"></div>
                        </div>
                        <div class="input-group" style="margin-top: 10px;">
                            <div class="input-group-prepend"><span class="input-group-text">Duration(Days)</span></div><input class="form-control" name="duration" type="number" required>
                            <div class="input-group-append"></div>
                        </div>
                        <div style="margin-top: 10px;">
                            <strong class="text-white">Notes:</strong>
                            <textarea class="form-control" type="notes" row="4" name="notes"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer bg-dark border-dark">
                        <button class="btn btn-light" type="button" data-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submmit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if configs %}
         {% for item in configs %}
            <div class="modal fade" id="selectConfigurationModal{{item[1]|replace(' ', '-')}}"  role="dialog" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-white bg-dark border-dark">
                            <h4 class="modal-title">Select Configuration</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        </div>
                        <form action="/configurations" method="POST">
                            <input type="hidden" name="configId" value="{{item[0]}}">
                            <input type="hidden" name="action" value="Select">
                            <div class="modal-body text-white bg-dark border-dark">
                                <p>Are you sure you want to select the {{item[1]}} configuration?</p>
                                <p>This will stop the current configuration if it is running.</p>
                            </div>
                            <div class="modal-footer text-white bg-dark border-dark">
                                <button class="btn btn-light" type="button" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-primary" type="submit">Select</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% if item[7] > preconfigdate %}
                <div class="modal fade" id="editConfigurationModal{{item[1]|replace(' ', '-')}}" role="dialog" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-white bg-dark border-dark">
                                <h4 class="modal-title">Edit Configuration</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>

                            <form action="/configurations" method="POST">
                                <input type="hidden" name="configId" value="{{item[0]}}">
                                <input type="hidden" name="action" value="Edit">
                                <div class="modal-body bg-dark border-dark">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text">Name</span></div><input class="form-control" type="text" name="name" value="{{item[1]}}" required>
                                        <div class="input-group-append"></div>
                                    </div>
                                    <div class="input-group" style="margin-top: 10px;">
                                        <div class="input-group-prepend"><span class="input-group-text">Species</span></div><input class="form-control" type="text" name="species" value="{{item[2]}}" required>
                                        <div class="input-group-append"></div>
                                    </div>
                                    <div class="input-group" style="margin-top: 10px;">
                                        <div class="input-group-prepend"><span class="input-group-text">Temperature(<br><strong>°</strong>C)</span></div><input class="form-control" name="temperature" type="number" value="{{item[3]}}" required>
                                        <div class="input-group-append"></div>
                                    </div>
                                    <div class="input-group" style="margin-top: 10px;">
                                        <div class="input-group-prepend"><span class="input-group-text">Humidity(%)</span></div><input class="form-control" type="number" name="humidity" value="{{item[4]}}" required>
                                        <div class="input-group-append"></div>
                                    </div>
                                    <div class="input-group" style="margin-top: 10px;">
                                        <div class="input-group-prepend"><span class="input-group-text">Duration(Days)</span></div><input class="form-control" type="number" name="duration" value="{{item[5]}}" required>
                                        <div class="input-group-append"></div>
                                    </div>
                                    <div style="margin-top: 10px;">
                                        <strong class="text-white">Notes:</strong>
                                        <textarea class="form-control" type="notes"  row="4" name="notes">{{item[6]}}</textarea>
                                    </div>
                                </div>
                                <div class="modal-footer bg-dark border-dark">
                                    <button class="btn btn-light" type="button" data-dismiss="modal">Close</button>
                                    <button class="btn btn-primary" type="submit">Save</button></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="deleteConfigurationModal{{item[1]|replace(' ', '-')}}"  role="dialog" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-white bg-dark border-dark">
                                <h4 class="modal-title">Delete Configuration</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            <form action="/configurations" method="POST">
                                <input type="hidden" name="configId" value="{{item[0]}}">
                                <input type="hidden" name="action" value="Delete">
                                <div class="modal-body text-white bg-dark border-dark">
                                    <p>Are you sure you want to delete the {{item[1]}} configuration?</p>
                                </div>
                                <div class="modal-footer text-truncate bg-dark border-dark">
                                    <button class="btn btn-light active" type="button" data-dismiss="modal">Cancel</button>
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

<!-- Preconfig modal() -->
                    <div class="modal fade text-break border-dark" id="preconfigModal" tabindex="-1" role="dialog" width="100%" aria-labelledby="preconfigModal" aria-hidden="true">
                       <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                          <div class="modal-content ">
                              <div class="modal-header text-white bg-dark border-dark">
                                <h4 class="modal-title">Preconfigurations</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="text-white" aria-hidden="true">×</span></button>
                              </div>
                              <div class="modal-body text-white text-center bg-dark border-dark">
                                  <div class="scoll-tree">
<!--                                  <div class ="row">-->
<!--                                      <div class="table-responsive">-->
                                            <table class="table table-dark" id="preconfigTable">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Species</th>
                                                        <th>Temperature</th>
                                                        <th>Humidity</th>
                                                        <th>Options</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                 {% for item in configs %}
                                                   {% if item[7] == preconfigdate %}
                                                        <tr>
                                                            <td>{{item[1]}}</td>
                                                            <td>{{item[2]}}</td>
                                                            <td>{{item[3]}}</td>
                                                            <td>{{item[4]}}</td>
                                                            <td>
                                                                {% if item[8]==1 %}
                                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#" disabled>Running</button>
                                                                {% else %}
                                                                    {% if item[10]==1 %}
                                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#" disabled>Selected</button>
                                                                     {% else %}
                                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#selectConfigurationModal{{item[1]|replace(' ', '-')}}" data-dismiss="modal">Select</button>
                                                                    {% endif %}
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                  {% endif %}
                                                {% endfor %}
                                                </tbody>
                                            </table>
<!--                                      </div>-->
<!--                                  </div>-->
                                  </div>
                             </div>
                             <div class="modal-footer bg-secondary">
                                <button type="button" class="btn btn-dark" data-dismiss="modal">Back</button>
                             </div>
                          </div>
                       </div>
                    </div>

    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper" style="background-color: #222222;">
            <div class="text-nowrap" id="content">
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-light mb-0" style="margin-top: 11px;">Configurations</h3>
                    </div>
                    <div class="row">
                        <div class="col" style="margin-bottom: 16px;">
                            <div class="card border-dark shadow border-left-primary py-2" style="background-color: #333333;">
                                <div class="card-header border-dark" style="background-color: #333333;">
                                    <h4 style="color: #ffffff;font-weight: bold;">Selected Configuration</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-6 col-xl-6">
                                            <div class="row align-items-center no-gutters">
                                                <div class="col">
                                                    <div>
                                                        <strong class="text-white">Name:</strong>
                                                        <span class="text-white">{{selectedconfig[1]}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row align-items-center no-gutters">
                                                <div class="col">
                                                    <div>
                                                        <strong class="text-white">Species:</strong>
                                                        <span class="text-white">{{selectedconfig[2]}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row align-items-center no-gutters">
                                                <div class="col">
                                                    <div>
                                                        <strong class="text-white">Temperature:</strong>
                                                        <span class="text-white">{{selectedconfig[3]}}°C</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row align-items-center no-gutters">
                                                <div class="col">
                                                    <div>
                                                        <strong class="text-white">Humidity:</strong>
                                                        <span class="text-white">{{selectedconfig[4]}}%</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row align-items-center no-gutters">
                                                <div class="col">
                                                    <div>
                                                        <strong class="text-white">Duration:</strong>
                                                        <span class="text-white">{{selectedconfig[5]}} days</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xl-6" style="white-space:normal;">
                                            <div>
                                                <strong class="text-white">Notes:</strong>
                                                <span class="text-white">{{selectedconfig[6]}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer border-dark" style="background-color: #333333;">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col">
                                            <div>
                                                <div class="d-none d-lg-block">
                                                    <strong class="text-white">Runtime:</strong>
                                                    <span class="text-white" id="runTime1"></span>
                                                </div>
                                                <div class="d-lg-none">
                                                    <strong class="text-white">Runtime:</strong>
                                                    <span class="text-white" id="runTime2"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card border-dark  mb-4" style="background-color: #333333;">
                                <div class="card-header border-dark" style="background-color: #333333;">
                                    <div class="row mt-auto no-gutters">
                                        <div class="col col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                            <h4 style="color: #ffffff;">Saved Configurations</h4>
                                        </div>
                                        <div class="col col-sm-12 col-md-3 col-lg-3 col-xl-3 text-center mt-2 mt-sm-0">
                                            <button class="btn btn-primary btn-block" type="button" data-toggle="modal" data-target="#addConfigurationModal">Create New Configuration</button>
                                        </div>
                                        <div class="col col-sm-12 col-md-3 col-lg-3 col-xl-3 text-center ml-lg-2 ml-xl-2 mt-2 mt-sm-0">
                                            <button class="btn btn-primary btn-block" id="preconfigButton" type="button" data-toggle="modal" data-target="#preconfigModal">Preconfigured Configurations</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body border-dark">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th style="color: #ffffff;">Name</th>
                                                    <th style="color: #ffffff;">Species</th>
                                                    <th style="color: #ffffff;">Temperature</th>
                                                    <th style="color: #ffffff;">Humidity</th>
                                                    <th style="color: #ffffff;">Options</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                             {% for item in configs %}
                                               {% if item[7] > preconfigdate %}
                                                    <tr>
                                                        <td style="color: #ffffff;">{{item[1]}}</td>
                                                        <td style="color: #ffffff;">{{item[2]}}</td>
                                                        <td style="color: #ffffff;">{{item[3]}}</td>
                                                        <td style="color: #ffffff;">{{item[4]}}</td>
                                                        <td style="color: #ffffff;">
                                                            {% if item[8]==1 %}
                                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#" disabled>Running</button>
                                                            {% else %}
                                                                {% if item[10]==1 %}
                                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#" disabled>Selected</button>
                                                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#editConfigurationModal{{item[1]|replace(' ', '-')}}">Edit</button>
                                                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfigurationModal{{item[1]|replace(' ', '-')}}">Delete</button>
                                                                {% else %}
                                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#selectConfigurationModal{{item[1]|replace(' ', '-')}}">Select</button>
                                                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#editConfigurationModal{{item[1]|replace(' ', '-')}}">Edit</button>
                                                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfigurationModal{{item[1]|replace(' ', '-')}}">Delete</button>
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                              {% endif %}   
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<script>
         window.onload = function() {
               {% if running== true %}
                 timer("{{rundate}}", 'runTime1', 'runTime2', true);
               {% endif %}
             };

             function timer(countFrom, id1, id2, first) {

              if(first){
                var arr = countFrom.toString().split(/[- :]/),
                countFrom = new Date(arr[0], arr[1]-1, arr[2], arr[3], arr[4], arr[5]).getTime();
              } else{
                countFrom = new Date(countFrom).getTime();
              }

               var now = new Date(),
                   countFrom = new Date(countFrom),
                   timeDifference = (now - countFrom);

               var secondsInADay = 60 * 60 * 1000 * 24,
                   secondsInAHour = 60 * 60 * 1000;

               days = Math.floor(timeDifference / (secondsInADay) * 1);
               hours = Math.floor((timeDifference % (secondsInADay)) / (secondsInAHour) * 1);
               minutes = Math.floor(((timeDifference % (secondsInADay)) % (secondsInAHour)) / (60 * 1000) * 1);
               seconds = Math.floor((((timeDifference % (secondsInADay)) % (secondsInAHour)) % (60 * 1000)) / 1000 * 1);

               var e = document.getElementById(id1);
               e.innerHTML =days+" days "+hours+" hours "+ minutes+" minutes "+ seconds +" seconds";
               var e2 = document.getElementById(id2);
               e2.innerHTML =days+" d "+hours+" h "+ minutes+" min "+ seconds +" s";
               clearTimeout(timer.interval);
               timer.interval = setTimeout(function(){ timer(countFrom, id1, id2, false); }, 1000);
             }

      </script>
</body>

</html>