<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Configurations</title>
      <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
      <script src="/static/js/jquery.min.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
      <link href="/static/css/style.css" rel="stylesheet" media="screen">
      <link href="/static/css/navbar-fixed-left.min.css" rel="stylesheet" >
      <link rel="shortcut icon" href="/static/image/favicon.ico">
      <style>
         @media (min-width: 1200px) {
            .container{
               max-width: 85%;
            }
         }
      </style>
   </head>
   <body class="text-white bg-secondary">
      <nav class=" h-100 col-md-2 fixed-top sidebar bg-dark nav-pills">
         <div class="sidebar-sticky">
            <nav class="navbar navbar-dark bg-dark">
               <span class="navbar-brand mx-auto" >
               <img src="/static/image/egg-icon.svg" width="40" height="40" class="" alt="">
               <span class="navbar-brand mb-0 text-center h1 align-middle">Incubator</span>
               </span>
            </nav>
            <ul class="nav flex-column ">
               <li class="nav-item">
                  <a class="nav-link" href="dashboard">Dashboard</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link active" href="configurations">Configurations</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="settings">Settings</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="help">Help</a>
               </li>
            </ul>
         </div>
         <ul id="logout_sidebar_button" class="nav nav-sidebar ">
            <li class="text-center"><p>User:{{session['username']}}</p></li>
            <li><a href="/logout"><button type="button" class="btn btn-primary btn-block" data-target="#" >Logout</button></a></li>
         </ul>
      </nav>
      <div class="container">
         <div class="justify-content-between border-bottom pt-3">
            <h1 class="h2">Configurations</h1>
         </div>
         <div class="row pt-3">
            <div class="col-sm-12">
               <div class="card mb-12 shadow-sm bg-dark">
                  <div class="card-header">
                     <h4 class="my-0 font-weight-normal">Selected Configuration</h4>
                  </div>
                  <div class="card-body">
                     <div class="row">
                        <div class="col-sm-6">
                           <h6 class="my-0 font-weight-normal pb-1"><b>Name:</b> {{selectedconfig[1]}}</h6>
                           <h6 class="my-0 font-weight-normal pb-1"><b>Species:</b> {{selectedconfig[2]}}</h6>
                           <h6 class="my-0 font-weight-normal pb-1"><b>Temperature:</b> {{selectedconfig[3]}}°C</h6>
                           <h6 class="my-0 font-weight-normal pb-1"><b>Humidity:</b> {{selectedconfig[4]}}%</h6>
                           <h6 class="my-0 font-weight-normal pb-1"><b>Duration:</b> {{selectedconfig[5]}} days</h6>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="my-0 font-weight-normal pb-1"><b>Notes:</b> {{selectedconfig[6]}} </h6>
                        </div>
                     </div>
                  </div>
                  <div class="card-footer">
                     <div class="row">
                     <div class="col-sm-6">
                        <h6><b>Current runtime:</b> {{runtime}}</h6>
                     </div>
                     <div class="col-sm-6 text-right ">
                           <!-- Where Run/Stop Buttons were -->
                     </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <!-- Run modal(display confirm run if not running) -->
         <div class="modal fade" id="runConfigurationModal" tabindex="-1" role="dialog" aria-labelledby="runConfigurationModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
               <div class="modal-content ">
                  <div class="modal-header bg-primary">
                     <h5 class="modal-title" id="runConfigurationModalTitle">Run Configuration</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <form action="/configurations" method="POST">
                     <input type="hidden" name="action" value="Run">
                     <div class="modal-body bg-secondary">
                         <div class="container">
                             <p>Run the selected configuration?</p>
                        </div>
                     </div>
                     <div class="modal-footer bg-secondary">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Run</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>

         <!-- Stop modal(display confirm run if not running and confirm stop if running) -->
         <div class="modal fade" id="stopConfigurationModal" tabindex="-1" role="dialog" aria-labelledby="stopConfigurationModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
               <div class="modal-content ">
                  <div class="modal-header bg-primary">
                     <h5 class="modal-title" id="stopConfigurationModalTitle">Stop Configuration</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <form action="/configurations" method="POST">
                     <input type="hidden" name="action" value="Stop">
                     <div class="modal-body bg-secondary">
                         <div class="container">
                             <p>Are you sure you want to stop the current running configuration?</p>
                        </div>
                     </div>
                     <div class="modal-footer bg-secondary">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Stop</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>

         <!-- Add ConfigurationModal -->
         <div class="modal fade" id="addConfigurationModal" tabindex="-1" role="dialog" aria-labelledby="addConfigurationModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
               <div class="modal-content ">
                  <div class="modal-header bg-primary">
                     <h5 class="modal-title" id="addConfigurationModalTitle">New Configuration</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <form action="/configurations" method="POST">
                     <input type="hidden" name="action" value="Add">
                     <div class="modal-body bg-secondary">
                         <div class="container">
                        <table class="text-center">
                            <tr>
                                <td class="text-right pr-1 pb-3"><b>Name:</b></td>
                                <td class="pb-3"><input type="name" class="form-control" name="name" required></td>
                            </tr>
                        <tr class="pb-1">
                            <td class="text-right pr-1 pb-3"><b>Species:</b></td>
                           <td class="pb-3"><input type="species" class="form-control" name="species" required></td>
                        </tr>
                        <tr class="pb-1">
                            <td class="text-right pr-1 pb-3"><b>Temperature(°C):</b></td>
                           <td class="pb-3"><input type="temperature" class="form-control" name="temperature" required></td>
                        </tr>
                        <tr class="pb-1">
                            <td class="text-right pr-1 pb-3"><b>Humidity(%):</b></td>
                            <td class="pb-3"><input type="humidity" class="form-control" name="humidity" required></td>
                        </tr>
                        <tr class="pb-1">
                            <td class="text-right pr-1 pb-3"><b>Duration(days):</b></td>
                           <td class="pb-3"><input type="duration" class="form-control" name="duration" required></td>
                        </tr>
                        <tr class="pb-1">
                            <td class="text-right pr-1 pb-3"><b>Notes:</b></td>
                            <td class="pb-3"><textarea class="form-control" type="notes"  row="3" name="notes"></textarea></td>
                        </table>
                     </div>
                     </div>
                     <div class="modal-footer bg-secondary">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
          {% if configs %}
         {% for item in configs %}
         <!-- Edit Configuration Modal -->
         <div class="modal fade" id="editConfigurationModal{{item[1]|replace(' ', '-')}}" tabindex="-1" role="dialog" aria-labelledby="editConfigurationModal{{item[2]|replace(' ', '-')}}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
               <div class="modal-content ">
                  <div class="modal-header bg-primary">
                     <h5 class="modal-title" id="editConfigurationModalTitle">Edit Configuration</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <form action="/configurations" method="POST">
                     <input type="hidden" name="configId" value="{{item[0]}}">
                     <input type="hidden" name="action" value="Edit">
                     <div class="modal-body bg-secondary">
                         <div class="container">
                        <table class="text-center">
                            <tr>
                                <td class="text-right pr-1 pb-3"><b>Name:</b></td>
                                <td class="pb-3"><input type="name" class="form-control" name="name" value="{{item[1]}}" required></td>
                            </tr>
                        <tr class="pb-1">
                            <td class="text-right pr-1 pb-3"><b>Species:</b></td>
                           <td class="pb-3"><input type="species" class="form-control" name="species" value="{{item[2]}}" required></td>
                        </tr>
                        <tr class="pb-1">
                            <td class="text-right pr-1 pb-3"><b>Temperature:</b></td>
                           <td class="pb-3"><input type="temperature" class="form-control" name="temperature" value="{{item[3]}}" required></td>
                        </tr>
                        <tr class="pb-1">
                            <td class="text-right pr-1 pb-3"><b>Humidity:</b></td>
                            <td class="pb-3"><input type="humidity" class="form-control" name="humidity" value="{{item[4]}}" required></td>
                        </tr>
                        <tr class="pb-1">
                            <td class="text-right pr-1 pb-3"><b>Duration:</b></td>
                           <td class="pb-3"><input type="duration" class="form-control" name="duration" value="{{item[5]}}" required></td>
                        </tr>
                        <tr class="pb-1">
                            <td class="text-right pr-1 pb-3"><b>Notes:</b></td>
                            <td class="pb-3"><textarea class="form-control" type="notes"  row="3" name="notes">{{item[6]}}</textarea></td>
                        </table>
                     </div>
                     </div>
                     <div class="modal-footer bg-secondary">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>

          <!-- Select modal(display confirm select if not selected and confirm stop current if running) -->
         <div class="modal fade" id="selectConfigurationModal{{item[1]|replace(' ', '-')}}" tabindex="-1" role="dialog" aria-labelledby="selectConfigurationModal{{item[2]|replace(' ', '-')}}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
               <div class="modal-content ">
                  <div class="modal-header bg-primary">
                     <h5 class="modal-title" id="selectConfigurationModalTitle">Select Configuration</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <form action="/configurations" method="POST">
                     <input type="hidden" name="configId" value="{{item[0]}}">
                     <input type="hidden" name="action" value="Select">
                     <div class="modal-body bg-secondary">
                         <div class="container">
                             <p>Are you sure you want to stop the current running configuration and select {{item[1]}}?</p>
                        </div>
                     </div>
                     <div class="modal-footer bg-secondary">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Select</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>

         <!-- Delete modal(display confirm delete for configuration) -->
         <div class="modal fade" id="deleteConfigurationModal{{item[1]|replace(' ', '-')}}" tabindex="-1" role="dialog" aria-labelledby="deleteConfigurationModal{{item[2]|replace(' ', '-')}}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
               <div class="modal-content ">
                  <div class="modal-header bg-primary">
                     <h5 class="modal-title" id="deleteConfigurationModalTitle">Delete Configuration</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <form action="/configurations" method="POST">
                     <input type="hidden" name="configId" value="{{item[0]}}">
                     <input type="hidden" name="action" value="Delete">
                     <div class="modal-body bg-secondary">
                         <div class="container">
                             <p>Are you sure you want to delete the {{item[1]}} configuration?</p>
                        </div>
                     </div>
                     <div class="modal-footer bg-secondary">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
         {% endfor %}

          {% endif %}
          <div class="container">
         <div class="row pt-4">
            <h3 class=" pr-2 pl-3">All Configurations</h3>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addConfigurationModal">
            Add
            </button>
         </div>
         <div class="table-responsive text-white pt-3">
            <table class="table table-striped text-white">
               <thead>
                  <tr>
                     <th>Name</th>
                     <th>Species</th>
                     <th>Options</th>
                  </tr>
               </thead>
               <tbody>
                  {% for item in configs %}
                  <tr>
                     <td>{{item[1]}}</td>
                     <td>{{item[2]}}</td>

                     <td>
                        {% if item[8]==1 %}
                           <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#" disabled>Running</button>
                        {% else %}
                           {% if item[10]==1 %}
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#" disabled>Selected</button>
                              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#editConfigurationModal{{item[1]|replace(' ', '-')}}">Edit</button>
                              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfigurationModal{{item[1]|replace(' ', '-')}}">Delete</button>
                           {% else %}
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#selectConfigurationModal{{item[1]|replace(' ', '-')}}">Select</button>
                              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#editConfigurationModal{{item[1]|replace(' ', '-')}}">Edit</button>
                              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfigurationModal{{item[1]|replace(' ', '-')}}">Delete</button>
                           {% endif %}
                        {% endif %}



                     </td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
          </div>
      </div>
   </body>