<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Dashboard</title>
      <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
      <script src="/static/js/jquery.min.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
      <link href="/static/css/style.css" rel="stylesheet" media="screen">
      <link href="/static/css/navbar-fixed-left.min.css" rel="stylesheet" >
      <link rel="shortcut icon" href="/static/image/favicon.ico">
      <script src="/static/js/Chart.bundle.min.js"></script>
      <style>
         canvas{
         -moz-user-select: none;
         -webkit-user-select: none;
         -ms-user-select: none;
         }
         @media (min-width: 1200px) {
            .container{
               max-width: 85%;
            }
         }

      </style>
   </head>
   <body class="text-white bg-secondary">
      <nav class=" h-100 col-md-2 fixed-top sidebar bg-dark nav-pills">
         <div class="sidebar-sticky">
            <nav class="navbar navbar-dark bg-dark">
               <span class="navbar-brand mx-auto" >
               <img src="/static/image/egg-icon.svg" width="40" height="40" class="" alt="">
               <span class="navbar-brand mb-0 text-center h1 align-middle">Incubator</span>
               </span>
            </nav>
            <ul class="nav flex-column ">
               <li class="nav-item">
                  <a class="nav-link active" href="dashboard">Dashboard</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="configurations">Configurations</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="settings">Settings</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="help">Help</a>
               </li>
            </ul>
         </div>
         <ul id="logout_sidebar_button" class="nav nav-sidebar ">
            <li class="text-center"><p>User:{{session['username']}}</p></li>
            <li><a href="/logout"><button type="button" class="btn btn-primary btn-block" data-target="#" >Logout</button></a></li>
         </ul>
      </nav>
      <div class="container">

         <div class="justify-content-between border-bottom pt-3">
            <div class="row">
               <div class="col-sm-6">

               <h1 class="h2">Dashboard: </h1>

               </div>
               <div class="col-sm-6 float-right">
                         <h5><b>Selected Configuration: </b>{{selectedconfig[1]}}

                            <b>&nbsp;&nbsp;&nbsp;Status:</b>
                              {% if selectedconfig[8]== 0 %}
                                  Not Running
                              {% endif %}
                              {% if selectedconfig[8]== 1 %}
                                  Running
                              {% endif %}

                              {% if selectedconfig[8]== 0 %}
                                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#runConfigurationModal">Run</button>
                              {% endif %}
                              {% if selectedconfig[8]== 1 %}
                                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#stopConfigurationModal">Stop</button>
                              {% endif %}
                            </h5>
               </div>
            </div>
         </div>

         <!-- Run modal(display confirm run if not running) -->
         <div class="modal fade" id="runConfigurationModal" tabindex="-1" role="dialog" aria-labelledby="runConfigurationModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
               <div class="modal-content ">
                  <div class="modal-header bg-primary">
                     <h5 class="modal-title" id="runConfigurationModalTitle">Run Configuration</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <form action="/dashboard" method="POST">
                     <input type="hidden" name="action" value="Run">
                     <div class="modal-body bg-secondary">
                         <div class="container">
                             <p>Run the selected configuration?</p>
                        </div>
                     </div>
                     <div class="modal-footer bg-secondary">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Run</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>

         <!-- Stop modal(display confirm run if not running and confirm stop if running) -->
         <div class="modal fade" id="stopConfigurationModal" tabindex="-1" role="dialog" aria-labelledby="stopConfigurationModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
               <div class="modal-content ">
                  <div class="modal-header bg-primary">
                     <h5 class="modal-title" id="stopConfigurationModalTitle">Stop Configuration</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <form action="/dashboard" method="POST">
                     <input type="hidden" name="action" value="Stop">
                     <div class="modal-body bg-secondary">
                         <div class="container">
                             <p>Are you sure you want to stop the current running configuration?</p>
                        </div>
                     </div>
                     <div class="modal-footer bg-secondary">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Stop</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>

         <div class="row pt-3">
            <div class="col-sm-3 text-center">
               <div class="card mb-4 shadow-sm text-white bg-success">
                  <div class="card-header">
                     <h4 class="my-0 font-weight-normal">Temperature</h4>
                  </div>
                  <div class="card-body">
                     <h1 class="card-title">{{temperatureData[temperatureData|length-1][1]}} °C</h1>
                     <h4><small class="text-white">@ {{temperatureData[temperatureData|length-1][0]}}</small></h4>
                  </div>
               </div>
            </div>
            <div class="col-sm-3 text-center">
               <div class="card mb-4 shadow-sm text-white bg-success">
                  <div class="card-header">
                     <h4 class="my-0 font-weight-normal">Humidity</h4>
                  </div>
                  <div class="card-body">
                     <h1 class="card-title">{{humidityData[humidityData|length-1][1]}} %</h1>
                     <h4><small class="text-white">@ {{humidityData[humidityData|length-1][0]}}</small></h4>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 text-center">
               <div class="card mb-4 shadow-sm bg-dark">
                  <div class="card-header">
                     <h4 class="my-0 font-weight-normal">Notifications</h4>
                  </div>
                  <div class="card-body">
                     <div class="list-group">
                        {% for item in notifications %}
                           {% if item[4]== 0 %}
                              {% if item[5]== 'error' %}
                                 <a href="#" class="list-group-item list-group-item-action list-group-item-danger"><div class="float-left">{{item[2]}}</div><div class="float-right"><small>{{item[3]}}</small></div></a>
                              {% elif item[5]== 'warning' %}
                                 <a href="#" class="list-group-item list-group-item-action list-group-item-warning"><div class="float-left">{{item[2]}}</div><div class="float-right"><small>{{item[3]}}</small></div></a>
                              {% elif item[5]== "success" %}
                                 <a href="#" class="list-group-item list-group-item-action list-group-item-success"><div class="float-left">{{item[2]}}</div><div class="float-right"><small>{{item[3]}}</small></div></a>
                              {% else %}
                                 <a href="#" class="list-group-item list-group-item-action list-group-item-dark"><div class="float-left">{{item[2]}}</div><div class="float-right"><small>{{item[3]}}</small></div></a>
                              {% endif %}
                        {% endif %}
                      {% endfor %}
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div>

         </div>
         <br>

            <div class="row pt-3">
               <div class="col-md-6">
                  <div style="width:100%;">
                     <canvas id="canvasTemperature" ></canvas>
                  </div>
               </div>
               <div class="col-md-6">
                  <div style="width:100%;">
                     <canvas id="canvasHumidity" ></canvas>
                  </div>
               </div>
            </div>

          <script>

            var configTemperature = {
            	type: 'line',
            	data: {
            		datasets: [{
                                 label: 'Temperature',
                                 yAxisID: 'Temperature',
                                 fontColor: '#fff',
                                 backgroundColor: 'rgb(255, 99, 132)',
                                 borderColor: 'rgb(255, 99, 132)',
                                 data: [{% for item in temperatureData %}
                                       {% if not loop.last%}
                                           {x: '{{item[0]}}', y: {{item[1]}}},
                                         {% else %}
                                             {x: '{{item[0]}}', y: {{item[1]}} }
                                        {% endif %}
                                       {% endfor %}],

                                 fill: false
                               }],
            		             lineTension: 0
            	},
            	options: {
            		responsive: true,
            		legend: {
                               labels: {
                               fontColor: 'white'
                              }
                            },
            		title: {
            			display: true,
                             fontColor: "white",
            			text: 'Temperature Graph',

            		},
            		tooltips: {
            			mode: 'nearest',
            			intersect: false,
            			callbacks: {
                           label: function(tooltipItems, data) {
                           return 'Temperature: ' + tooltipItems.yLabel + '°C';
                           }
                        }
            		},
            		hover: {
            			mode: 'nearest',
            			intersect: false
            		},
            		scales: {
            			xAxes: [{
            			     type: 'time',
                                time: {
                                  unit: 'hour',
                                  unitStepSize: 1,
                                  displayFormats: {
                                    'second': 'HH:mm:ss a',

                                   }
                                  },
            				display: true,
            				gridLines: {
                                      color: 'rgb(255, 255, 255)'
                                  },
                                  ticks: {
                                      fontColor: "white",
                                  },
            				scaleLabel: {
            					display: true,
            					labelString: 'Time',
            					fontColor: "white",

            				}
            			}],
            			yAxes: [{
            			    id: 'Temperature',
            			    position: 'left',
            				display: true,
            				gridLines: {
                                      color: 'rgb(255, 255, 255)',
                                      zeroLineColor: 'rgb(255, 255, 255)'
                                  },
                                  ticks: {
                                      fontColor: "white",
                                  },
            				scaleLabel: {
            					display: true,
            					labelString: 'Temperature(°C)',
            					fontColor: 'rgb(255, 255, 255)',

            				}
            			}]
            		}
            	}
            };

            var configHumidity = {
            	type: 'line',
            	data: {
            		datasets: [{
                                 label: 'Humidity',
                                 yAxisID: 'Humidity',
                                 fontColor: '#fff',
                                 backgroundColor: 'rgb(54, 162, 235)',
                                 borderColor: 'rgb(54, 162, 235)',
                                 data: [{% for item in humidityData %}
                                       {% if not loop.last%}
                                           {x: '{{item[0]}}', y: {{item[1]}}},
                                         {% else %}
                                             {x: '{{item[0]}}', y: {{item[1]}} }
                                        {% endif %}
                                       {% endfor %}],

                                 fill: false
                               }],
            		             lineTension: 0
            	},
            	options: {
            		responsive: true,
            		legend: {
                               labels: {
                               fontColor: 'white'
                              }
                            },
            		title: {
            			display: true,
                             fontColor: "white",
            			text: 'Humidity Graph',

            		},
            		tooltips: {
            			mode: 'nearest',
            			intersect: false,
            			callbacks: {
                           label: function(tooltipItems, data) {
                           return 'Humidity: ' + tooltipItems.yLabel + '%';
                           }
                        }
            		},
            		hover: {
            			mode: 'nearest',
            			intersect: false
            		},
            		scales: {
            			xAxes: [{
            			     type: 'time',
                                time: {
                                  unit: 'hour',
                                  unitStepSize: 1,
                                  displayFormats: {
                                    'second': 'HH:mm:ss a',

                                   }
                                  },
            				display: true,
            				gridLines: {
                                      color: 'rgb(255, 255, 255)'
                                  },
                                  ticks: {
                                      fontColor: "white",
                                  },
            				scaleLabel: {
            					display: true,
            					labelString: 'Time',
            					fontColor: "white",

            				}
            			}],
            			yAxes: [{
            			    id: 'Humidity',
            			    position: 'left',
            				display: true,
            				gridLines: {
                                      color: 'rgb(255, 255, 255)',
                                      zeroLineColor: 'rgb(255, 255, 255)'
                                  },
                                  ticks: {
                                      fontColor: "white",
                                  },
            				scaleLabel: {
            					display: true,
            					labelString: 'Humidity(%)',
            					fontColor: 'rgb(255, 255, 255)',

            				}
            			}]
            		}
            	}
            };


            window.onload = function() {

            	var ctxTemperature = document.getElementById('canvasTemperature').getContext('2d');
            	window.myLine = new Chart(ctxTemperature, configTemperature);

            	var ctxHumidity = document.getElementById('canvasHumidity').getContext('2d');
            	window.myLine = new Chart(ctxHumidity, configHumidity);

            };




         </script>
      </div>


   </body>
</html>