<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/Chart.bundle.min.js"></script>
    <link rel="shortcut icon" href="/static/image/favicon.ico">

    <style>
        .alignVerticalCenter {
        display: flex;
        align-items: center;
    }
    </style>

</head>

<body id="page-top" style="background-color: #222222;">
    <div>
        <nav class="navbar navbar-light navbar-expand-md bg-dark navigation-clean-button">
            <div class="container">
                <div>
                    <span class="navbar-brand" href="#" style="color: rgb(255,255,255);">
                        <img src="/static/image/egg-icon.svg" width="30" height="30" class="" alt="">
                        <span style="vertical-align: middle;">Incubator</span>
                    </span>
                </div>
                <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link active text-light" href="test" style="color: rgb(255,255,255);">Dashboard</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="testConfigurations" style="color: rgb(255,255,255);">Configurations</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="testSettings" style="color: rgb(255,255,255);">Settings</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="color: #ffffff;">Help</a></li>
                    </ul><span class="navbar-text actions"> <a class="btn btn-primary action-button" role="button" href="#" style="background-color: #00a3dd;">Logout</a></span>
                </div>
     </div>
    </nav>
    </div>
    <div class="modal fade text-break border-dark" id="stopConfigurationModal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-white bg-dark border-dark">
                    <h4 class="modal-title">Stop Configuration</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="text-white" aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body text-white bg-dark border-dark">
                    <p>Are you sure you want to stop the running configuration?</p>
                </div>
                <div class="modal-footer bg-dark border-dark">

                    <button class="btn btn-light" type="button" data-dismiss="modal">Cancel</button>

                    <form action="/dashboard" method="POST">
                        <input type="hidden" name="action" value="Stop">
                        <button class="btn btn-danger" type="button">Stop</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade text-break border-dark" id="runConfigurationModal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-white bg-dark border-dark">
                    <h4 class="modal-title">Run Configuration</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="text-white" aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body text-white bg-dark border-dark">
                    <p>Run selected configuration?</p>
                </div>
                <div class="modal-footer bg-dark border-dark">

                    <button class="btn btn-light" type="button" data-dismiss="modal">Cancel</button>

                    <form action="/dashboard" method="POST">
                        <input type="hidden" name="action" value="Stop">
                        <button class="btn btn-success" type="button">Run</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper" style="background-color: #222222;">
            <div class="text-nowrap" id="content">
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-light mb-0" style="margin-top: 11px;">Dashboard</h3>
                    </div>
                    <div class="row align-items-center">
                        <div class="col" style="margin-bottom: 16px;">
                            <div class="card border-dark shadow border-left-primary py-2" style="background-color: #333333;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col" style="margin-bottom: 5px;">
                                            <div class="row align-items-center no-gutters">
                                                <div class="col">
                                                    <div><strong class="text-white">Selected Configuration: </strong><span class="text-white">{{selectedconfig[1]}}</span></div>
                                                </div>
                                            </div>
                                            <div class="row align-items-center no-gutters">
                                                <div class="col "><strong class="text-white">Status:</strong>
                                                        {% if selectedconfig[8]== 0 %}
                                                         <span class="text-white">Not Running</span>
                                                         {% endif %}
                                                         {% if selectedconfig[8]== 1 %}
                                                        <span class="text-white">Running</span>
                                                         {% endif %}

                                                    </div>
                                             </div>

                                            <div class="row align-items-center no-gutters">
                                                <div class="col">
                                                 <!--   <div id="users-device-size">
                                                    <div id="xs" class="d-block d-sm-non">xs</div>
                                                      <div id="sm" class="d-none d-sm-block d-md-none">sm</div>
                                                      <div id="md" class="d-none d-md-block d-lg-none">md</div>
                                                      <div id="lg" class="d-none d-lg-block d-xl-none">lg</div>
                                                    <div id="xl" class="d-none d-xl-block">xl</div>
                                                    </div> -->
                                                    <div>
                                                        <div class="d-none d-lg-block">
                                                            <strong class="text-white">Runtime:</strong>
                                                            <span id ="runTime1" class="text-white"></span>
                                                        </div>
                                                        <div class="d-lg-none">
                                                            <strong class="text-white">Runtime:</strong>
                                                            <span id ="runTime2" class="text-white"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col my-auto">
                                            <div class="row align-items-center no-gutters">
                                                <div class="col text-center align-self-center">
                                                    {% if selectedconfig[8]== 0 %}
                                                     <button type="button" class="btn btn-lg btn-block btn-primary "  data-toggle="modal" data-target="#runConfigurationModal">Run</button>
                                                     {% endif %}
                                                     {% if selectedconfig[8]== 1 %}
                                                     <button type="button" class="btn btn-lg btn-block btn-danger" data-toggle="modal" data-target="#stopConfigurationModal">Stop</button>
                                                     {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                  </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card border-dark" style="background-color: #222222;">
                                <div class="card-header border-dark" style="background-color: #333333;">
                                     <h5 class="text-white font-weight-bold m-0">Notifications</h5>
                                </div>
                                <div class="card-body">
                                    <div class="list-group">
                                    {% for item in notifications %}
                                        {% if loop.index <= 3 %}
                                            {% if item[4]== 0 %}
                                                {% if item[5]== 'error' %}
                                                <a href="#" class="list-group-item list-group-item-action list-group-item-danger">
                                                   <div class="row">
                                                       <div class="col col-sm-12 col-md-4 col-lg-4 col-xl-3">
                                                            <div class="float-left">Incubator temperature is 28.0  degrees C</div>
                                                       </div>
                                                        <div class="col col-sm-12 col-md-4 col-lg-4 col-xl-4 ">
                                                            <div class="float-left"><small>@2019-09-16 23:04:25</small></div>
                                                        </div>
                                                       <div class="col col-sm-12 col-md-4 col-lg-4 col-xl-5">
                                                           <div class="float-right">
                                                              <form action="/dashboard" method="POST">
                                                                 <input type="hidden" name="action" value="Dismiss">
                                                                 <input type="hidden" name="id" value="48">
                                                                 <button type="submit" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                              </form>
                                                            </div>
                                                       </div>
                                                   </div>
                                                </a>
                                                {% elif item[5]== "success" %}
                                                <a href="#" class="list-group-item list-group-item-action list-group-item-success">
                                                   <div class="float-left">{{item[2]}}</div>
                                                   <div class="float-right">
                                                      <form action="/dashboard" method="POST">
                                                         <input type="hidden" name="action" value="Dismiss">
                                                         <input type="hidden" name="id" value="{{item[0]}}">
                                                         <button type="submit" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                      </form>
                                                   </div>
                                                   <div class="float-right"><small>{{item[3]}}</small></div>
                                                </a>
                                                {% else %}
                                                <a href="#" class="list-group-item list-group-item-action list-group-item-dark">
                                                   <div class="float-left">{{item[2]}}</div>
                                                   <div class="float-right">
                                                      <form action="/dashboard" method="POST">
                                                         <input type="hidden" name="action" value="Dismiss">
                                                         <input type="hidden" name="id" value="{{item[0]}}">
                                                         <button type="submit" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                      </form>
                                                   </div>
                                                   <div class="float-right"><small>{{item[3]}}</small></div>
                                                </a>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                     </div>
                                    <button class="btn btn-primary float-right" style="margin-top: 9px;" type="button">More</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-xl-6 mt-3">
                           <div class="row mb-3">
                               <div class="col-lg-12 col-xl-12">
                                   <div class="card text-white bg-danger border-dark shadow">
                                        <div class="card-body border-dark">
                                            <div class="d-none d-xl-block text-center">
                                                <h4>
                                                    <strong>Temperature:</strong>
                                                    <span id="temperatureValue1"></span>
                                                    @
                                                    <span id="temperatureTime1"></span>
                                                </h4>
                                            </div>
                                            <div class="d-xl-none text-center">
                                                 <div class="row">
                                                    <div class="col-lg-6">
                                                         <h7>
                                                            <strong>Temperature:</strong>
                                                             <span id="temperatureValue2"></span>
                                                         </h7>
                                                    </div>
                                                     <div class="col-lg-6">
                                                          <h7>

                                                            @
                                                            <span id="temperatureTime2"></span>
                                                          </h7>
                                                    </div>
                                                 </div>
                                            </div>
                                        </div>
                                    </div>
                               </div>
                           </div>
                            <div class="row">
                                <div class="col-lg-12 col-xl-12">
                                    <div class="card border-dark shadow mb-4" style="background-color: #222222;">
                                        <div class="card-header text-nowrap border-dark d-flex justify-content-between align-items-center" style="background-color: #333333;">
                                            <h6 class="text-white font-weight-bold m-0">Temperature Graph</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="chart-area"><canvas id="canvasTemperature" ></canvas></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-6 mt-3">
                            <div class="row mb-3">
                                <div class="col-lg-12 col-xl-12">
                                    <div class="card text-white bg-primary border-dark shadow">
                                        <div class="card-body border-dark text-center">
                                            <div class="d-none d-xl-block">

                                                    <h4>
                                                        <strong>Humidity:</strong>
                                                        <span id="humidityValue1"></span>
                                                        @
                                                        <span id="humidityTime1"></span>
                                                    </h4>
                                               
                                            </div>
                                            <div class="d-xl-none text-center">
                                                 <div class="row">
                                                    <div class="col-lg-6">
                                                         <h7>
                                                            <strong>Humidity:</strong>
                                                             <span id="humidityValue2"></span>
                                                         </h7>
                                                    </div>
                                                     <div class="col-lg-6">
                                                          <h7>

                                                            @
                                                            <span id="humidityTime2"></span>
                                                          </h7>
                                                    </div>
                                                 </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-xl-12">
                                    <div class="card border-dark shadow mb-4" style="background-color: #222222;">
                                        <div class="card-header text-nowrap border-dark d-flex justify-content-between align-items-center" style="background-color: #333333;">
                                            <h6 class="text-white font-weight-bold m-0">Humidity Graph</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="chart-area"><canvas id="canvasHumidity" ></canvas></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <script>
            window.onload = function() {
              {% if running== true %}
                timer("{{rundate}}", 'runTime1', 'runTime2');
              {% endif %}
            };

            function timer(countFrom, id1, id2) {
              countFrom = new Date(countFrom).getTime();
              var now = new Date(),
                  countFrom = new Date(countFrom),
                  timeDifference = (now - countFrom);

              var secondsInADay = 60 * 60 * 1000 * 24,
                  secondsInAHour = 60 * 60 * 1000;

              days = Math.floor(timeDifference / (secondsInADay) * 1);
              hours = Math.floor((timeDifference % (secondsInADay)) / (secondsInAHour) * 1);
              minutes = Math.floor(((timeDifference % (secondsInADay)) % (secondsInAHour)) / (60 * 1000) * 1);
              seconds = Math.floor((((timeDifference % (secondsInADay)) % (secondsInAHour)) % (60 * 1000)) / 1000 * 1);

              var e = document.getElementById(id1);
              e.innerHTML =" "+ days+" days "+hours+" hours "+ minutes+" minutes "+ seconds +" seconds";
              var e2 = document.getElementById(id2);
              e2.innerHTML =" "+ days+" d "+hours+" h "+ minutes+" min "+ seconds +" s";
              clearTimeout(timer.interval);
              timer.interval = setTimeout(function(){ timer(countFrom, id1, id2); }, 1000);
            }

            displayCharts();

            setInterval(function() {
             displayCharts();
            }, 10000);

            function displayCharts(){
                    var getData = $.get('/data');

                    getData.done(function(results){

                        var latestTempValue = results.temperatureData[ 0][1];
                        var latestTempTime = results.temperatureData[ 0][0];
                        var tempValueElement1 = document.getElementById("temperatureValue1");
                        tempValueElement1.innerHTML = latestTempValue + " °C"
                        var tempTimeElement1 = document.getElementById("temperatureTime1");
                        tempTimeElement1.innerHTML = latestTempTime

                        var tempValueElement2 = document.getElementById("temperatureValue2");
                        tempValueElement2.innerHTML = latestTempValue + " °C"
                        var tempTimeElement2 = document.getElementById("temperatureTime2");
                        tempTimeElement2.innerHTML = latestTempTime

                        var latestHumidityValue = results.humidityData[ 0][1];
                        var latestHumidityTime = results.humidityData[0][0];
                        var humidityValueElement1 = document.getElementById("humidityValue1");
                        humidityValueElement1.innerHTML = latestHumidityValue + " %"
                        var humidityTimeElement1 = document.getElementById("humidityTime1");
                        humidityTimeElement1.innerHTML = latestHumidityTime

                        var humidityValueElement2 = document.getElementById("humidityValue2");
                        humidityValueElement2.innerHTML = latestHumidityValue + " %"
                        var humidityTimeElement2 = document.getElementById("humidityTime2");
                        humidityTimeElement2.innerHTML = latestHumidityTime

                        var temperatureData = [];
                        for (var i in results.temperatureData) {
                            temperatureData.push({
                                x : new Date(results.temperatureData[i][0]),
                                y : results.temperatureData[i][1]
                            });
                        }

                        var humidityData = [];
                        for (var i in results.humidityData) {
                            humidityData.push({
                                x : new Date(results.humidityData[i][0]),
                                y : results.humidityData[i][1]
                            });
                        }

                         var configTemperature = {
                            type: 'line',
                            data: {
                                datasets: [{
                                             label: 'Temperature',
                                             yAxisID: 'Temperature',
                                             fontColor: '#fff',
                                             backgroundColor: 'rgb(255, 99, 132)',
                                             borderColor: 'rgb(255, 99, 132)',
                                             data: temperatureData,
                                             fill: false,
                                             pointRadius: 0
                                           }],
                                             lineTension: 0
                            },
                            options: {
                                responsive: true,
                                animation: {
                                    duration: 0
                                },
                                legend: {
                                           labels: {
                                           fontColor: 'white'
                                          }
                                        },
                                title: {
                                    display: false,
                                         fontColor: "white",
                                    text: 'Temperature Graph',

                                },
                               tooltips: {
                                    mode: 'index',
                                    intersect: false,
                                    callbacks: {
                                       label: function(tooltipItems, data) {
                                       return 'Temperature: ' + tooltipItems.yLabel + '°C';
                                       }
                                    }
                                },
                                hover: {
                                    mode: 'nearest',
                                    intersect: false
                                },
                                scales: {
                                    xAxes: [{
                                         type: 'time',
                                         display: true,
                                         scaleLabel: {
                                            display: true,
                                            labelString: 'Time',
                                            fontColor: "white",
                                         },
                                         time: {
                                          unit: 'hour',
                                          unitStepSize: 1,
                                          displayFormats: {
                                                'second': 'HH:mm:ss a',
                                               }
                                         },
                                        gridLines: {
                                                  color: 'rgb(255, 255, 255)'
                                              },
                                              ticks: {
                                                  fontColor: "white",
                                              },
                                    }],
                                    yAxes: [{
                                        id: 'Temperature',
                                        position: 'left',
                                        display: true,
                                        gridLines: {
                                                  color: 'rgb(255, 255, 255)',
                                                  zeroLineColor: 'rgb(255, 255, 255)'
                                              },
                                              ticks: {
                                                  fontColor: "white",
                                              },
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Temperature(°C)',
                                            fontColor: 'rgb(255, 255, 255)',

                                        }
                                    }]
                                }
                            }
                        };

                        var configHumidity = {
                            type: 'line',
                            data: {
                                datasets: [{
                                             label: 'Humidity',
                                             yAxisID: 'Humidity',
                                             fontColor: '#fff',
                                             backgroundColor: 'rgb(54, 162, 235)',
                                             borderColor: 'rgb(54, 162, 235)',
                                             data: humidityData,
                                             fill: false,
                                             pointRadius: 0
                                           }],
                                             lineTension: 0
                            },
                            options: {
                                responsive: true,
								animation: {
                                    duration: 0
                                },
                                legend: {
                                           labels: {
                                           fontColor: 'white'
                                          }
                                        },
                                title: {
                                    display: false,
                                         fontColor: "white",
                                    text: 'Humidity Graph',

                                },
                                tooltips: {
                                    mode: 'index',
                                    intersect: false,
                                    callbacks: {
                                       label: function(tooltipItems, data) {
                                       return 'Humidity: ' + tooltipItems.yLabel + '%';
                                       }
                                    }
                                },
                                hover: {
                                    mode: 'nearest',
                                    intersect: false
                                },
                                scales: {
                                    xAxes: [{
                                         type: 'time',
                                            time: {
                                              unit: 'hour',
                                              unitStepSize: 1,
                                              displayFormats: {
                                                'second': 'HH:mm:ss a',
                                               }
                                              },
                                        display: true,
                                        gridLines: {
                                                  color: 'rgb(255, 255, 255)'
                                              },
                                              ticks: {
                                                  fontColor: "white",
                                              },
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Time',
                                            fontColor: "white",

                                        }
                                    }],
                                    yAxes: [{
                                        id: 'Humidity',
                                        position: 'left',
                                        display: true,
                                        gridLines: {
                                                  color: 'rgb(255, 255, 255)',
                                                  zeroLineColor: 'rgb(255, 255, 255)'
                                              },
                                              ticks: {
                                                  fontColor: "white",
                                              },
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Humidity(%)',
                                            fontColor: 'rgb(255, 255, 255)',

                                        }
                                    }]
                                }
                            }
                        };



                    var ctxTemperature = document.getElementById('canvasTemperature').getContext('2d');
                    if(window.myLineT){ window.myLineT.destroy();}
                    window.myLineT = new Chart(ctxTemperature, configTemperature);

                     if(window.myLineH){ window.myLineH.destroy();}
                    var ctxHumidity = document.getElementById('canvasHumidity').getContext('2d');
                    window.myLineH = new Chart(ctxHumidity, configHumidity);

              });
        }
  </script>
</body>

</html>