<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Settings</title>
   <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
      <script src="/static/js/jquery.min.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
      <link href="/static/css/style.css" rel="stylesheet" media="screen">
      <link rel="shortcut icon" href="/static/image/favicon.ico">
</head>

<body id="page-top" style="background-color: #222222;">
    <div>
        <nav class="navbar navbar-light navbar-expand-md bg-dark navigation-clean-button">
            <div class="container">
                <span class="navbar-brand" href="#" style="color: rgb(255,255,255);">
                    <img src="/static/image/egg-icon.svg" width="30" height="30" class="" alt="">
                    <span style="vertical-align: middle;">Incubator</span>
                </span>
                <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link active text-light" href="testDashboard" style="color: rgb(255,255,255);">Dashboard</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="testConfigurations" style="color: rgb(255,255,255);">Configurations</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="testSettings" style="color: rgb(255,255,255);">Settings</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="color: #ffffff;">Help</a></li>
                    </ul><span class="navbar-text actions"> <a class="btn btn-primary action-button" role="button" href="#" style="background-color: #00a3dd;">Logout</a></span></div>
    </div>
    </nav>
    </div>
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper" style="background-color: #222222;">
            <div class="text-nowrap" id="content">
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-light mb-0" style="margin-top: 11px;">Settings</h3>
                    </div>
                    <div class="row">
                        <div class="col" style="margin-bottom: 16px;">
                            <div class="card border-dark shadow border-left-primary py-2" style="background-color: #333333;">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col">
                                            <div><strong class="text-white">Temperature Units:</strong></div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center no-gutters">
                                        <div class="col">
                                            <div><strong class="text-white">Refresh Rate:</strong></div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center no-gutters">
                                        <div class="col">
                                            <div><strong class="text-white">Email Notifications:</strong></div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center no-gutters">
                                        <div class="col">
                                            <div><strong class="text-white">Email:</strong><input type="email"></div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center no-gutters">
                                        <div class="col"><button class="btn btn-primary float-right" type="button">Save</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</body>

</html>